.App {
  font-family: sans-serif;
  text-align: center;
}

.genreButton {
  cursor: pointer;
  background: #e5e7eb;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  margin: 1rem 0.3rem;
}
